.app {
    /*width: 1000px;*/
    width: 400px;
    height: 650px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}

/**
 * **********************
 * 左侧菜单栏
 * **********************
 */
.app > .left {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1;
    background-color: #2e3238;
    color: #fff;
}


/*** 头像 ***/
.app > .left > .avatar {
    padding: 18px;
}

.app > .left > .avatar:after {
    display: block;
    content: '';
    clear: both;
}

.app > .left > .avatar > * {
    height: 40px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.app > .left > .avatar > .left {
    float: left;
}

.app > .left > .avatar > .left:after {
    display: block;
    content: '';
    clear: both;
}

.app > .left > .avatar > .left > * {
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.app > .left > .avatar > .left .avatar {
    width: 40px;
    height: 40px;
    position: relative;
}

.app > .left > .avatar > .left .avatar .image {
    width: 100%;
    height: 100%;
}

.app > .left > .avatar > .left .username {
    padding-left: 10px;
    line-height: 40px;
    font-size: 16px;
    max-width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.app > .left > .avatar > .right {
    float: right;
}

.app > .left > .avatar > .right .menu {
    float: right;
    height: 40px;
    line-height: 40px;
    position: relative;
    cursor: pointer;
}

.app > .left > .avatar > .right .menu .image {
    width: 30px;
    height: 30px;
}

.app > .left > .avatar > .right .menu .functions {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    transform: translate(0% , 100%);
    -webkit-transform: translate(0% , 100%);
    -moz-transform: translate(0% , 100%);
    -ms-transform: translate(0% , 100%);
    -o-transform: translate(0% , 100%);
}

.app > .left > .avatar > .right .menu .functions .function {
    width: 180px;
    height: 50px;
    line-height: 34px;
    padding: 8px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.app > .left > .avatar > .right .menu .functions .function:hover {
    background-color: #f5f5f5;
}

.app > .left > .avatar > .right .menu .functions .function:after {
    display: block;
    content: '';
    clear: both;
}

.app > .left > .avatar > .right .menu .functions .function > * {
    height: 100%;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.app > .left > .avatar > .right .menu .functions .function .left {
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}

.app > .left > .avatar > .right .menu .functions .function .left .image {
    width: 24px;
    height: 24px;
}

.app > .left > .avatar > .right .menu .functions .function .right {
    margin-left: 10px;
    color: black;
    font-size: 14px;
}

/*** 搜索好友 ***/
.app > .left > .search {
    position: relative;
}

.app > .left > .search .c-search {
    padding: 0 18px;
}

.app > .left > .search .c-search > .in {
    background-color: #26292e;
    position: relative;
    height: 32px;
}

.app > .left > .search .c-search > .in .left {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.app > .left > .search .c-search  > .in .left .image {
    width: 16px;
    height: 16px;
}

.app > .left > .search .c-search > .in .right {
    margin-left: 30px;
    height: 100%;
}


.app > .left > .search .c-search > .in .right .search-input {
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #fff;
    font-size: 12px;

}

.app > .left > .search .c-search > .in > .res {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 420px;
    overflow: hidden;
    overflow-y: auto;
    transform: translate(0% , 100%);
    -webkit-transform: translate(0% , 100%);
    -moz-transform: translate(0% , 100%);
    -ms-transform: translate(0% , 100%);
    -o-transform: translate(0% , 100%);
    background-color: #33363b;
    box-shadow: 0 0 10px #2a2a2a;
    -moz-box-shadow: 0 0 10px #2a2a2a;
    -webkit-box-shadow: 0 0 10px #2a2a2a;
}

.app > .left > .search .c-search > .in > .res > .item {
    margin-bottom: 10px;
    background-color: #393c43;
}

.app > .left > .search .c-search > .in > .res > .item:nth-last-of-type(1) {
    margin-bottom: 0;
}

.app > .left > .search .c-search > .in > .res > .item .title {
    height: 25px;
    line-height: 25px;
    padding: 3px 9px;
    font-size: 16px;
    color: #787b87;

}

.app > .left > .search .c-search > .in > .res > .item .list {

}

.app > .left > .search .c-search > .in > .res > .item .list .line {
    padding: 10px 9px;
    cursor: pointer;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    border-bottom: 1px solid #33363b;
}

.app > .left > .search .c-search > .in > .res > .item .list .line:hover {
    background-color: #595b64;
}

.app > .left > .search .c-search > .in > .res > .item .list .focus {
    background-color: #595b64;
}

.app > .left > .search .c-search > .in > .res > .item .list .line:nth-last-of-type(1) {
    border-bottom: none;
}

.app > .left > .search .c-search > .in > .res > .item .list .line .in {
    position: relative;
}

.app > .left > .search .c-search > .in > .res > .item .list .line .in .left {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
}

.app > .left > .search .c-search > .in > .res > .item .list .line .in .left .image {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.app > .left > .search .c-search > .in > .res > .item .list .line .right  {
    margin-left: 30px;
    line-height: 30px;
    font-size: 14px;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*** 左侧：菜单栏 ***/
.app > .left > .menu {
    padding: 0 0 4px 0;
}

.app > .left > .menu .item {
    float: left;
    width: 33.33%;
}


/**
 * **********************
 * 右边输入框
 * **********************
 */

.app > .right {
    padding-left: 280px;
    height: 100%;

}

.app > .right > .history {
    background-color: #eee;
    height: 100%;
}