<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>即时通讯-前端插件</title>
    <link rel="stylesheet" href="./extra/plugin/Run/base.css">
    <link rel="stylesheet" href="./extra/plugin/Run/color.css">
    <link rel="stylesheet" href="./extra/plugin/Run/button.css">
    <link rel="stylesheet" href="./core/css/Communication.css">
</head>
<body>

<style>
    body {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    table {
        margin: 0;
        font-size: 13px;
    }

    input {
        min-width: 300px;
    }
</style>

<div class="demo">
    <table>
        <tbody>
        <tr>
            <td>identifier</td>
            <td><input type="text" placeholder="identifier" id="identifier" value="0hGFPPyf7Bnu3gnF"></td>
        </tr>
        <tr>
            <td>unique_code</td>
            <td><input type="text" placeholder="unique_code" id="unique_code" value="OJ70uZ3977ow71708lU26yc8GKu24w9390Hhy1ux9SY16Ptg4Vl469KJ26xjXz3bS82DFa21SaIy5mD8GE1736BGy78py0YZ7gw7ARsre1bc45I3JT6i8aK739ny394F7W8sW83bH628U0j65F52K51ku1t8Vl2P0slblm1g0f5u5R9We4r3607lsW649Aa0y090W92m4Twh355E4X1avvJd0P6T9741Ih470R08j7lUZzT3cXG4p9Kci9Ah6vX"></td>
        </tr>
        <tr>
            <td>platform</td>
            <td><input type="text" placeholder="platform" value="pc" id="platform"></td>
        </tr>
        <tr>
            <td>websocket</td>
            <td><input type="text" placeholder="websocket" id="websocket" value="ws://47.252.80.36:9300"></td>
        </tr>
        <tr>
            <td>websocketUrl</td>
            <td><input type="text" placeholder="websocket url" id="websocket-url" value="http://47.252.80.36:9301"></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="button" id="initialize" class="run-button run-button-blue">开始聊天</button>
            </td>
        </tr>

        </tbody>
    </table>
    <pre>点击开始聊天后将以 后台用户 yueshu 登录！！然后请新开一个页面打开此文件，并把 unique_code 清空，然后点击登录，将以游客的身份登录。之后，就可以开始对话了。</pre>
    <pre>由于连接国外服务器，所以速度可能有点慢，请耐心等待</pre>
</div>

<div class="real-time-communication">
    <!-- 即时通讯：最小化 -->
    <div class="real-time-communication-minimum" ref="real-time-communication-minimum">
        <div class="left">
            <div class="avatar">
                <div class="image-container"><img :src="parent.option.host + '/static/image/female.png'" class="image"></div>
            </div>
            <div>{{ user.nickname }}</div>
        </div>
        <div class="right">
            <div class="unread">{{ unread }}</div>
        </div>
    </div>
    <!-- 即时通讯：最大化 -->
    <div class="real-time-communication-maximum hide" :class="user.role == 'user' ? 'real-time-communication-maximum-for-user' : ''" ref="real-time-communication-maximum">
        <!-- 关闭按钮 -->
        <div class="close" ref="close">
            <img :src="parent.option.host + '/static/image/minimum.png'" class="image">
        </div>
        <!-- 用户信息 -->
        <div class="user hide" ref="user">
            <div class="outer" ref="user-outer">
                <div class="in" ref="user-in">
                    <div class="top avatar">
                        <div class="image-container"><img :src="user.avatar" class="image"></div>
                    </div>
                    <div class="btm">
                        <div class="username">{{ user.nickname }}</div>
                    </div>
                </div>
            </div>
            <div class="mask" ref="mask"></div>
        </div>
        <!-- 内容 -->
        <div class="content">
            <!-- 会话列表 -->
            <div class="left">
                <div class="top" ref="left-top">
                    <div class="left">
                        <div class="avatar" ref="avatar">
                            <div class="image-container"><img :src="user.avatar" class="image"></div>
                        </div>
                        <div class="username">{{ user.nickname }}</div>
                    </div>
                    <div class="right"></div>
                </div>
                <div class="mid" ref="left-mid">
                    <div class="item cur"><img :src="parent.option.host + '/static/image/message.png'" class="image"></div>
                    <!--<div class="item"><img src="./image/message.png" class="image"></div>-->
                    <!--<div class="item"><img src="./image/message.png" class="image"></div>-->
                </div>
                <div class="btm session" ref="left-btm">

                    <div class="item" v-for="v in session" :key="v.session_id" :class="v.session_id == current.session_id ? 'cur' : ''" @click="switchSession(v.session_id)">
                        <div class="left">
                            <div class="image-container">
                                <img v-if="v.type == 'group'" :src="v.group ? v.group.image_explain : ''" class="image">
                            </div>
                        </div>
                        <div class="right">
                            <div class="in">
                                <div class="left">
                                    <div class="top">
                                        <!-- 群 -->
                                        <template v-if="v.type == 'group'">{{ v.group ? v.group.name : '' }}</template>
                                        <!-- todo 私聊 -->
                                    </div>
                                    <div class="btm">
                                        <template v-if="v.recent_message">
                                            <!-- 文本消息 -->
                                            <template v-if="v.recent_message.type == 'text'">{{ v.recent_message.message }}</template>
                                            <!-- todo 其他类型消息 -->
                                        </template>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="top">{{ v.recent_message ? v.recent_message.create_time : '' }}</div>
                                    <div class="btm"><span class="unread">{{ v.unread }}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 对话窗口 -->
            <div class="right">
                <div class="window">
                    <div class="top">
                        <div class="left">
                            <!-- 群信息 -->
                            <template v-if="current.type == 'group'">{{ current.group ? current.group.name : '' }}</template>
                        </div>
                        <div class="right"></div>
                    </div>
                    <div class="mid" ref="history">
                        <!-- 加载层 -->
                        <div class="loading">
                            <span v-if="!history.all && history.loading">加载中...</span>
                            <span v-else class="gray">已经到底了</span>
                        </div>

                        <!-- 聊天记录 -->
                        <div class="history" ref="message">

                            <!-- 发送者 -->
                            <template v-for="v in history.history">
                                <div class="message" :class="v.myself ? 'myself' : 'other'" :data-id="v.id">
                                    <div class="in">
                                        <div class="left">
                                            <div class="image-container"><img :src="v.user ? v.user.avatar : ''" class="image"></div>
                                        </div>
                                        <div class="right">
                                            <div class="top">
                                                <div class="in">{{ v.user ? (v.user.nickname ? v.user.nickname : v.user.username) : '' }} {{ v.create_time }}</div>
                                            </div>
                                            <div class="mid">
                                                <div class="in">
                                                    <div class="text">{{ v.message }}</div>
                                                    <div class="loading">
                                                        <img :src="parent.option.host + '/static/image/loading.png'" class="image image-for-loading" :class="v.loading ? '' : 'hide'">
                                                        <img :src="parent.option.host + '/static/image/fail.png'" class="image " :class="v.error ? '' : 'hide'">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="btm">
                                                <div class="in red" :class="v.error ? '' : 'hide'">发送失败：{{ v.error }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="tip-message error hide" v-if="v.type == 'no_waiter'">-->
                                <!--<div class="in">{{ v.message }}</div>-->
                                <!--</div>-->
                                <!--<div class="tip-message success" v-if="v.type == 'allocated'">-->
                                <!--<div class="in">{{ v.message }}</div>-->
                                <!--</div>-->
                            </template>
                        </div>
                    </div>
                    <div class="btm">
                        <div class="top hide"></div>
                        <div class="mid" ref="input">
                            <textarea ref="textarea" @keyup="contentKeyUpEvent" v-model="message" class="input" autofocus="autofocus" placeholder="请输入..."></textarea>
                        </div>
                        <div class="btm"><button type="button" class="send" ref="send" @click="sendEvent" title="ENTER">发送（ENTER）</button></div>
                    </div>
                </div>
                <div class="empty" :class="once ? '' : 'hide'">
                    <div class="in">请选择会话</div>
                </div>

            </div>
        </div>

    </div>
</div>

<script src="./extra/plugin/Third/jquery/jquery-3.3.1.min.js"></script>
<script src="./extra/plugin/Third/layer/layer.js"></script>
<script src="./extra/plugin/Vue/Vue.dev.js"></script>
<script src="./extra/plugin/SmallJs/SmallJs.js"></script>
<script src="./core/lib/Socket.js"></script>
<script src="./core/js/Communication.js"></script>
<script>
    var identifier = document.querySelector('#identifier');
    var unique_code = document.querySelector('#unique_code');
    var platform = document.querySelector('#platform');
    var websocket = document.querySelector('#websocket');
    var websocketUrl = document.querySelector('#websocket-url');
    var initialize = document.querySelector('#initialize');

    initialize.addEventListener('click' , function(){
        var c = new Communication(document.body , {
            // 项目标识符
            identifier: identifier.value ,
            // 唯一码
            unique_code: unique_code.value ,
            // pc | andorid | ios | unknow
            platform: platform.value ,
            // websocket 地址
            websocket: websocket.value ,

            // web 服务器域名
            host: websocketUrl.value ,
        });
    } , false);

    // (function(){
    //     var c = new Communication(document.body , {
    //         // 项目标识符
    //         identifier: identifier.value ,
    //         // 唯一码
    //         unique_code: unique_code.value ,
    //         // pc | andorid | ios | unknow
    //         platform: platform.value ,
    //         // websocket 地址
    //         websocket: websocket.value ,
    //         url: 'http://192.168.1.67:9301' ,
    //     });
    // })();
</script>
</body>
</html>